<!doctype html>
<html>
<head>
    <title>K8 web terminal</title>
    <link rel="stylesheet" href="/assets/xterm.js/src/xterm.css" />
    <link rel="stylesheet" href="/assets/xterm.js/addons/fullscreen/fullscreen.css" />
    <link rel="stylesheet" href="/assets/style.css" />
    <script src="/assets/xterm.js/src/xterm.js" ></script>
    <script src="/assets/xterm.js/addons/attach/attach.js" ></script>
    <script src="/assets/xterm.js/addons/fit/fit.js" ></script>
    <script src="/assets/xterm.js/addons/fullscreen/fullscreen.js" ></script>
    <script src="/assets/xterm.js/addons/linkify/linkify.js" ></script>
</head>
<body>
<div id="terminal-container">

</div>
</body>
<script src="/assets/reconnecting-websocket/reconnecting-websocket.min.js" ></script>
<script src="/assets/main.js" ></script>
</html>

